Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
eclipse/
.Trash/
.bash_sessions/
.cache/
.eclipse/
.freemind/
.gem
.jssc/
.local/
.oracle_jre_usage/
.p2/
.ssh/
.subversion/
.thumbnails/
.tooling/
